body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: green;
    text-align: center;
    padding: 2em;
}

h1{
    color:darkgreen;
}
.video-container{
    display:inline-block;
    border: 5px solid yellowgreen;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    background-color: black;
    overflow: hidden;

    video{
        display: block;
        width: 100%;
        max-width: 640px;
        height: auto;
        margin: 0 auto;
    }
}
p{
    margin-top: 1em;
}